.main-content {
      margin-left: 200px;
      padding: 20px;
      background-color: #f8f9fa; // helles Grau
      overflow-y: auto;
    }

.sidebar {
  width: 200px; // feste Breite
   background-color: #2b2b2b;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar.collapsed {
  width: 50px;
  overflow: hidden;
}


.app-container {
  display: flex;
  height: 100vh;
}