services:
  backend:
    build:
      context: ./API
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - INFLUX_URL=${INFLUX_URL}
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_ORG=${INFLUX_ORG}
      - INFLUX_BUCKET=${INFLUX_BUCKET}
    networks:
      - sensor-net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    env_file:
      - .env
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_INIT_ADMIN_TOKEN}
      - TZ=Europe/Berlin
    networks:
      - sensor-net

  nodered:
    build:
      context: ./DB
    image: nodered:v1
    container_name: nodered
    ports:
      - "1880:1880"
    volumes:
      - nodered_data:/data
    environment:
      - TZ=Europe/Berlin
    networks:
      - sensor-net
    depends_on:
      - influxdb

  frontend:
    build:
      context: ./Frontend
    image: frontend:v1
    container_name: frontendcontainer
    ports:
      - "8081:8081"
    expose:
      - "8081"
    networks:
      - sensor-net
    volumes:
      - ./Documentation/ProjektSe/dokumentation.pdf:/usr/share/nginx/html/assets/dokumentation.pdf:ro

volumes:
  influxdb_data:
  nodered_data:

networks:
  sensor-net:
    external: true
