<h1 class="mb-4">AudiTim</h1>
<div class="card p-4 mb-4 shadow-sm">
  <h2>2D Sensoren</h2>
  
  <div class="d-flex justify-content-between align-items-center">
    <p *ngIf="availableStart && availableStop" class="mb-0">
      Daten verfügbar von 
      <strong>{{ availableStart | date:'dd.MM.yyyy, HH:mm:ss' }}</strong> bis 
      <strong>{{ availableStop | date:'dd.MM.yyyy, HH:mm:ss' }}</strong>
    </p>

    <button 
      (click)="toggleLive()" 
      class="btn btn-lg"
      [ngClass]="live ? 'btn-primary fw-bold' : 'btn-outline-primary fw-bold'">
      <i class="bi bi-lightning-fill me-1"></i> Live Mode
    </button>
  </div>
</div>

<app-range-selector
  *ngIf="!live"
  [availableStart]="availableStart"
  [availableStop]="availableStop"
  (rangeChange)="loadSensorData($event.start!, $event.stop!)">
</app-range-selector>

<app-sensor-chart *ngIf="chartData()" [sensorResponse]="chartData()"></app-sensor-chart>
