out/dokumentation.lot
out/dokumentation.aux
out/dokumentation.bbl
out/dokumentation.bcf
out/dokumentation.blg
out/dokumentation.fdb_latexmk
out/dokumentation.fls
out/dokumentation.lof
out/dokumentation.log
out/dokumentation.lol
out/dokumentation.lot
out/dokumentation.synctex.gz
out/dokumentation.toc
out/dokumentation.bcf-SAVE-ERROR
out/dokumentation.bbl-SAVE-ERROR
